body {
  background: $bg-1;
}

.y-banner {
  img {
    width: 100%;
  }
}

.y-analytic {
  margin-top: -100px;
}

.y-card {
  border: 1px solid $gray-1;
  box-sizing: border-box;
  border-radius: 10px;
  background: $white;

  .card-header {
    background: $white;
    border: none;
    padding: 26px 32px;

    h6 {
      font-size: 24px;
      color: $black;
    }
  }

  .card-body {
    padding: 32px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 48px;
    }
  }

  .title {
    margin-top: 34px;
    font-size: 24px;
    font-family: rubik-regular;
  }

  .card-footer{
    background: $gray-1;
  }
}

.y-table {
  th {
    border-width: 0;
  }

  td {
    font-size: 16px;
    line-height: 19px;
    color: $dark-blue;
    height: 56px;
    vertical-align: middle;
  }

  .name{
    font-weight: bold;
  }
}
