$white: #fff;
$black: #000;
$bg-1: #F4F0FE;
$gray-1: #EBE5FC;
$gray-2: #9892A9;
$blue-1: #6935F0;
$blue-2: #2C2C60;
$dark: #212529;
$dark-blue: #070744;
$yellow: #FFCB4D;
$orange: #FC622C;
$green: #0DB130;

$btn-orange-gradient: linear-gradient(to bottom, $yellow 0%, $orange 100%);
$btn-orange-gradient-hover: linear-gradient(to bottom, darken($yellow, 10%) 0%, darken($orange, 10%) 100%);

$T_nav: 0.4s;

$im: !important;
