@import '@/plugin/play';

@import './page/join';
@import './page/entity';
@import './page/joined';
@import './page/waiting';
@import './page/card';

@import '@/assets/style/main';

// ROOT STYLE
body{
  background: linear-gradient(180deg, #6935F0 0%, #5534CE 100%);
  padding: 40px 32px;
  min-height: 100vh;
  position: relative;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


@import 'responsive';
