@import '@/plugin/play';

@import './components/play-forms';
@import './components/play-buttons';

@import './page/join';
@import './page/entity';
@import './page/joined';
@import './page/waiting';
@import './page/card';

@import '@/assets/style/main';

// ROOT STYLE
body{
  background: linear-gradient(180deg, #6935F0 0%, #5534CE 100%);
  padding: 20px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-container{
  max-width: 360px;
  margin: auto;
}


@import 'responsive';
