.main-title {
  margin-bottom: 40px;

  h1 {
    font-style: 'rubik-medium';
    font-weight: bold;
    color: $dark-blue;
    font-size: 36px;
    margin-top: 0;

    i {
      font-size: 26px;
    }

    .edit-icon {
      color: $gray-2;
      font-size: 18px $im;
      margin-left: 8px;
    }
  }
}

.y-dropdown {
  button {
    padding: 12px 18px;
    background: $white;
    border: 1.5px solid $gray-2;
    box-sizing: border-box;
    border-radius: 10px;
    color: $dark-blue;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    i{
      margin-right: 8px;
    }
  }
}
