.play-card {
  background: $white;
  padding: 30px 22px 22px;
  border-radius: 20px;
  margin-bottom: 32px;
  cursor: pointer;

  .label-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .circle-wrapper{
      background: rgba(105, 53, 240, 0.2);
      width: 60px;
      height: 60px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h1 {
      font-size: 36px;
      padding: 0;
      margin: 0;
    }
  }

  .answer {
    font-size: 12px;
    font-family: 'rubik-medium';
    font-weight: bold;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
