.brand {
  width: 100%;
  margin: 72px 0;

  img {
    margin: auto;
    display: block;
  }
}

.join-form{
  button{
    margin: 54px 0;

    svg{
      margin-left: -6px;
    }
  }
}

.footer{
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 100%;
  color: $white;
  text-align: center;
  font-size: 12px;
}

.warning-gradient {
  background: linear-gradient(#FFCB4D, #FC622C);
  color: #FFF;
}
.y-play-custom-shadow-playbtn {
  box-shadow: 0px 0px 0px 6px #ffffff38;
  width: 90px;
  height: 90px;
  padding-left: 23px;
}
.y-play-custom-shadow-playbtn:hover {
  color: #FFF;
  outline: none;
}
