#join {
  display: flex;
  flex-direction: column;
  height: 100%;

  .body {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    justify-content: center;
    width: 100%;
  }
}

.brand {
  width: 100%;
  margin: 72px 0;

  img {
    width: 180px;
    margin: auto;
    display: block;
  }
}

.join-form {
  button {
    margin: 54px 0;

    svg {
      margin-left: -6px;
    }
  }
}

.footer {
  // position: absolute;
  // left: 0;
  // bottom: 12px;
  width: 100%;
  color: $white;
  text-align: center;
  font-size: 12px;
}
