#waiting {
  .avatar {
    margin-top: 86px;
    margin-bottom: 48px;

    img{
      width: 150px;
      height: 150px;
    }
  }
}

.joined-card {
  margin-top: 46px;
  padding: 40px 32px;
  background: rgba(7, 7, 68, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 20px;
  color: $white;

  .count {
    font-size: 36px;
    text-align: center;
  }

  p {
    text-align: center;
  }
}
