@font-face {
  font-family: rubik;
  src: url("/assets/fonts/rubik-medium.ttf") format("truetype");
}
$font-main: rubik , sans-serif;

body {
  // display: none;
  font-family: rubik;
}

.home {
  nav {
    margin: 22px 50px;
    font-size: 18px;

    .navbar-brand img {
      height: 64px;
    }

    .nav {

      li.button{
        margin-left: 30px;
      }

      .btn {
        padding-left: 24px;
        padding-right: 24px;
      }

      .login {
        color: #fff;
      }

      .login:hover {
        color: #212529;
      }
    }
  }

  header {
    background-color: #6935F0;
    height: 100vh;
    display: flex;
    align-items: center;

    .body {
      width: 100%;
    }

    h1 {
      font-size: 56px;
      line-height: 80px;
      margin-bottom: 52px;
    }
  }
}
