// *{
//   border: 1px solid red;
// }

.navbar-fixed-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#play-entity {
  height: 100%;
  padding-top: 80px;
}

#card-theory {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.entity-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  overflow-y: scroll;
  margin: 0 30px;

  &::-webkit-scrollbar {
    width: 0;
  }

  .entity-media {
    img,
    video {
      border: 4px solid $white;
      box-sizing: border-box;
      // filter: drop-shadow(0px 8px 0px #BDBDBD);
      border-radius: 10px;
      width: 400px;
    }
  }

  .entity-theory {
    font-size: 36px;
    line-height: 43px;
    color: $white;
    display: flex;
    min-height: 300px;
  }

  .entity-question {
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: $white;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }

  .answer-body {
    .answer {
      padding: 18px 40px 18px 24px;
      background: $white;
      border-radius: 10px;
      margin: 16px;
      display: flex;
      align-items: center;

      button {
        width: 56px;
        height: 56px;
        background: $gray-1;
        border-radius: 100%;
        font-size: 32px;
        line-height: 38px;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 32px;
      }

      span {
        font-size: 32px;
        line-height: 38px;
        color: $black;
      }
    }
  }

  .correct-answer {
    background: #00EF6E $im;

    button {
      background: rgba(255, 255, 255, 0.35) $im;
      color: $white $im;
    }

    span {
      color: $white $im;
    }
  }
}

#card-question {
  height: 100%;
}

.question-wrapper {
  height: 100%;
}

.dropdown-entity {
  .dropdown-toggle {
    border-radius: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #070744;
    display: flex;
    align-items: center;
    padding: 8px 14px;
  }

  .dropdown-menu {
    border-radius: 10px;
    top: 120%;
  }

  .dropdown-item {
    padding: 12px 24px;
  }

  svg {
    margin-right: 24px;
  }
}

.navigator {
  position: absolute;
  top: 40%;
  opacity: 0.3;
  transition: 0.3s ease;
  z-index: 10;
  // background: pink;
  &:hover {
    opacity: 1;
  }

  &.navigator-right {
    right: -66px;
    padding: 80px 40px 80px 10px;

    &:hover {
      transform: translateX(-60px);
    }
  }

  &.navigator-left {
    left: -66px;
    padding: 80px 10px 80px 40px;

    &:hover {
      transform: translateX(60px);
    }
  }

  button {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    box-shadow: 0 0 0 10px rgb(7 7 68 / 50%);
  }
}

.answered {
  position: absolute;
  left: 0;
  top: 86px;
  padding: 16px;
  position: absolute;
  width: 72px;
  height: 240px;
  background: rgba(7, 7, 68, 0.5);
  border-radius: 0 35px 35px 0;
  display: flex;
  flex-direction: column;

  .answered-list {
    flex-grow: 1;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .player-list {
    margin: 16px 0;
  }

  .answered-count {
    margin-top: 4px;

    button {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      color: #070744;
    }
  }

  img {
    width: 40px;
    height: 40px;
    box-shadow: none;
  }
}

.modal-score {
  .modal-content {
    border-radius: 20px;
    padding: 18px 24px;
  }

  .header {
    height: 72px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
  }

  .label-correct-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #070744;

    .badge-green {
      padding: 6px 11px;
      background: rgba(0, 239, 110, 0.25);
      border-radius: 6px;
      margin-left: 16px;
    }
  }

  .title {
    margin-bottom: 24px;

    .badge-secondary {
      padding: 16px 32px;
      position: static;
      background: #FFFFFF;
      border: 2px solid #D8D4E2;
      box-sizing: border-box;
      border-radius: 10px;
      font-weight: bold;
      font-size: 24px;
      color: $black;
      text-align: center;
    }

    svg {
      margin-left: 24px;
    }
  }

  .answer-player {
    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 24px;
      color: #FFFFFF;
      border-radius: 10px;
      margin-bottom: 24px;
    }

    .badge-white-circle {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      color: #070744;
      background: $white;
    }
  }

  .answer-player-list {
    padding: 18px;
    width: 100%;
    min-height: 320px;
    border: 1.5px solid #D8D4E2;
    border-radius: 10px;

    .list-group {
      height: 320px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 4px !important;
      }
    }

    .list-group-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      padding: 10px 0;
    }

    .player-info {
      display: flex;
      align-items: center;
    }

    .avatar {
      width: 40px;
      height: 40px;
      margin-left: 10px;
    }

    .player-name {
      font-size: 18px;
      line-height: 21px;
      color: #070744;
      margin-left: 16px;
    }

    .score {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;

      &.score-green {
        color: #00EF6E;
      }

      &.score-red {
        color: #F83939;
      }
    }
  }
}
