#play-question {
  nav {
    background: #5534CE;
    box-shadow: 0 1px 4px rgba(7, 7, 68, 0.5);

    .avatar-list {
      display: flex;
      margin: 0;

      .avatar-wrapper {
        margin-right: 24px;
      }

      img {
        height: 40px;
        border: 1.5px solid #070744;
      }
    }

    .more-list {
      font-size: 18px;
      line-height: 21px;
      color: $white;

      button {
        color: rgba(255, 255, 255, 0.35);
      }
    }
  }
}

.q-card {
  padding: 40px;

  .q-body {
    text-align: center;
  }

  .q-media {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .q-media-wrapper {
    border: 8px solid $white;
    box-sizing: border-box;
    filter: drop-shadow(0px 8px 0px #BDBDBD);
    border-radius: 10px;
  }

  .q-text {
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: $white;
  }

  .answer-body {
    margin-top: 60px;
    
    .answer {
      padding: 18px 40px 18px 24px;
      background: $white;
      border-radius: 10px;
      margin: 16px;
      display: flex;
      align-items: center;

      button {
        width: 56px;
        height: 56px;
        background: $gray-1;
        border-radius: 100%;
        font-size: 32px;
        line-height: 38px;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 32px;
      }

      span {
        font-size: 32px;
        line-height: 38px;
        color: $black;
      }
    }
  }
}
