#play-waiting {
  height: 100%;
  overflow-y: scroll;
  // &::-webkit-scrollbar {
  //   width: 0;
  // }
  .container-fluid {
    padding: 60px 56px;
  }

  .main-title {
    font-family: 'rubik';
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    color: $white;
    margin-bottom: 40px;
  }

  .card {
    border-radius: 15px;
  }
}

.y-list-card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 0 #BDBDBD;
  margin-bottom: 40px;

  .card-body {
    background: #FFFFFF;
    padding: 32px 40px 40px;
  }

  .kick {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;

    .icon-red {
      width: 24px;
      height: 24px;
      border-radius: 8px;
      color: $white;
      background: #F83939;
      text-align: center;
    }
  }

  .avatar-circle {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 0 5px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar-wrapper {
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;

    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  .joined-name {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $black;
  }
}

.code {
  font-size: 30px;
  border-radius: 10px;
}

.card-class-info {
  min-height: 333px;
  font-size: 20px;
}

.class-info {
  position: relative;

  &::before {
    content: '';
    top: 0;
    left: -14px;
    position: absolute;
    width: 4px;
    height: -webkit-fill-available;
    border-radius: 13px;
    background: $yellow;
  }

  .class-title {
    font-weight: bold;
    line-height: 21px;
    color: $black;
    margin-bottom: 16px;
  }

  .class-more-info {}

  .class-desc {
    font-size: 20px;
    line-height: 17px;
  }
}

.class-code {
  display: flex;
  flex-direction: column;
  align-items: center;

  .badge-orange-circle {
    width: 44px;
    height: 44px;
    background: rgba(252, 98, 44, 0.15);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }

  .code {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #000000;
  }
}
