// ++++ y-table
.y-table {
  tbody {
    td {
      border-width: 0;
    }
  }

  th {
    border-width: 0;
  }

  td {
    font-size: 16px;
    line-height: 19px;
    color: $dark-blue;
    height: 56px;
    vertical-align: middle;
  }

  a{
    color: $dark-blue;
  }
}
