@import '@/plugin/bootstrap/bootstrap-host';
@import '@/assets/style/main';

// ROOT ELEMENT
#app {
  min-height: 100vh;
  position: relative;

  .host-view {
    padding-bottom: 106px;
  }
}

// ++++ Navbar host
nav {
  background: $dark-blue;

  .logo {
    img {
      height: 46px;
    }
  }

  li.nav-item {
    display: flex;
    align-items: center;
  }

  .nav-link {
    color: $white $im;
    position: relative;

    i {
      font-size: 24px;
    }

    .badge {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .avatar {
    margin-left: 36px;

    img {
      height: 36px;
      border: 2px solid $white;
      box-sizing: border-box;
      margin-right: 12px;
    }

    span {
      font-size: 18px;
      margin-right: 0.8rem;
    }
  }

  .nav-menu {
    .dropdown-menu {
      padding: 30px;
      margin-top: 10px;
      background: $white;
      box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      border-width: 0;
      color: $dark-blue;

      a.active {
        color: $blue-1;
        background: none;
      }

      a {
        font-family: 'rubik';
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 32px;

        &:hover {
          color: $blue-1;
        }
      }

      i {
        margin-right: 10px;
      }
    }
  }
}

// ++++ Icon avatar
.icon-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: lighten($dark-blue, 80%);

  i {
    font-size: 22px;
    color: $dark-blue;
  }
}

.icon-blue {
  background: lighten($dark-blue, 80%);

  i {
    color: $blue-1;
  }
}

.icon-orange {
  background: lighten($orange, 32%);

  i {
    color: $orange;
  }
}

.d-center-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// badge nav
.badge {
  font-family: 'rubik';
  font-size: 12px;
  font-weight: normal;

  i {
    margin-right: 8px;
  }

  &.size-2x {
    padding: 6px 12px;
  }
}

.badge-green {
  color: $green;
  background: lighten($green, 55%);
}

.badge-orange {
  color: $orange;
  background: lighten($orange, 35%);
}

// ++++ Pagination
.pagination {
  .page-item {
    a {
      color: $blue-1;
    }
  }

  .page-item.active {
    a {
      background-color: $blue-1;
      border-color: $blue-1;
    }
  }
}

// form-group
.form-group {
  .invalid-feedback {
    font-family: 'rubik';
    display: none;
  }
}

// footer
footer {
  text-align: center;
  margin-top: 56px;
  background: $gray-1;
  padding: 24px 12px;
  position: absolute;
  width: 100%;
  bottom: 0;

  p {
    font-size: 12px;
    line-height: 14px;
    color: $dark-blue;
    margin: 0;
  }
}

// y-modal

.y-modal{

  .modal-content{
    border-radius: 30px;
  }

  .modal-body{
    padding: 80px 120px 24px 120px;
  }
}

// MORE
@import 'page/dashboard';
@import 'responsive';
