.btn-outline-light {
  color: $white;
  border-width: 3px;
  border-radius: 12px;
  padding: 9px 30px;

  &:hover {
    color: $textDark;
  }
}

.btn.border-transparent{
  border-color: transparent; 
}
