@import 'variable';
@import 'font';

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: rubik;
}

section {
  .sub-title {
    color: $textDarkBlue;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
}

hr {
  margin: 20px 0;
  border-top: 3px solid $white;
}

.home {
  nav.scroll {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;

    .container {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    img {
      height: 46px !important;
    }
  }

  nav {
    padding-top: 22px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    background: $purple;
    transition: $T_nav;

    .nav-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .navbar-brand img {
      height: 64px;
      transition: $T_nav;
    }

    .nav {
      li {
        text-align: right;
      }

      li a {
        margin-top: 3px;
      }

      .nav-a {
        margin-right: 8px;
      }
    }

    .btn-nav {
      color: $white;
      border-width: 3px;
      border-radius: 12px;
      padding: 9px 30px;

      &:hover {
        color: $textDark;
      }
    }
  }

  header {
    background-color: $blue;
    height: 100vh;
    min-height: 768px;
    max-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;

    .circle {
      position: absolute;
      left: -10px;
      bottom: -1px;
      display: block;
      width: 102%;
    }

    .body {
      width: 100%;
    }

    h1 {
      font-size: 56px;
      line-height: 80px;
      margin-bottom: 52px;
    }

    .btn-play {
      color: #fff;
      background: $btnGradientOrange;
      font-size: 24px;
      padding: 14px 33px;
      border-radius: 18px;
      border: none;
      box-shadow: 0 0 0 8px rgb(255 255 255 / 25%);

      &:hover {
        box-shadow: 0 0 0 8px rgb(255 255 255 / 30%);
        background: $btnGradientOrangeHover;
      }

      &:active {
        box-shadow: 0 0 0 8px rgb(255 255 255 / 35%);
        color: $white !important;
      }

      &:focus {
        box-shadow: 0 0 0 8px rgb(255 255 255 / 35%) !important;
        color: $white !important;
      }
    }
  }

  section {
    padding: 56px 0;
  }

  #about {
    .header {
      padding: 0 120px;
      position: relative;

      .title {
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
      }
    }

    .bg {
      width: 100%;
      display: flex;
      justify-content: space-between;
      user-select: none;

      .item {
        height: 225px;
        width: 30px;
        position: relative;
      }

      img {
        position: absolute;
      }

      .item-1 {
        width: 276px;

        .obj-1 {
          top: 0;
          right: 0;
          z-index: 1;
        }

        .obj-2 {
          left: 0;
          bottom: 0;
          z-index: 1;
        }

        .obj-3 {
          bottom: 30px;
          left: 100px;
          z-index: 0;
        }
      }

      .item-2 {
        width: 226px;

        .obj-1 {
          bottom: 0;
          right: 0;
          z-index: 1;
        }

        .obj-2 {
          top: 0;
          left: 0;
          z-index: 0;
        }
      }
    }

    .body {
      margin-top: 106px;
    }

    .card-wrapper {
      display: flex;
      justify-content: space-around;

      .y-card {
        width: 256px;
        background: #FFCB4D;
        color: $textDarkBlue;
        font-size: 24px;
        padding: 18px;
        border-radius: 46px;
        transition: 0.3s;

        .content {
          background: #FFF8E7;
          border-radius: 26px;
          height: 316px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            display: block;
          }
        }

        .title {
          padding-top: 32px;

          h3 {
            font-size: 22px;
          }
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  #tutorial {
    padding-bottom: 22px;

    .body {
      margin-top: 56px;
    }

    .video {
      width: 672px;
      height: 394px;
      margin-bottom: -182px;
      border-radius: 20px;
      background: #6935F0;
      border-width: 0;
      box-shadow: 0 0 0 12px $white;
    }

    .bg {
      width: 100%;
      background-image: url("/assets/img/bg-mini-circle.svg");
      height: 280px;
      background-repeat: repeat;
    }
  }

  #contact {
    background: $darkBlue;
    padding-bottom: 0;

    .sub-title {
      color: $white;
    }

    textarea {
      background: $blueGray;
      color: $white;
      box-shadow: none;
      border-color: $blueGray;
      font-size: 22px;
      border-radius: 32px;
      padding: 20px;

      &:focus {
        border-color: #80bdff;
      }
    }

    .btn {
      color: $white;
      border-width: 3px;
      border-radius: 12px;
      padding: 9px 30px;

      &:hover {
        color: $textDark;
      }
    }
  }

  footer {
    margin-top: 56px;
    color: $white;

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 36px;
    }

    .follow {
      p {
        text-align: right;
        font-size: 18px;
      }
    }

    .social-icon {
      display: flex;

      .icon-wrapper {
        margin: 0 6px;
        border: 1px solid #fff;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        text-decoration: none;
        transition: 0.2s;

        &:hover{
          transform: translateY(-5px);
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
    }
  }
}

@import 'responsive';
