$white: #fff;
$purple: #6935F0;
$blue: #6935F0;
$blueGray: #2C2C60;
$darkBlue: #070744;
$orange: #FC622C;
$yellow: #FFCB4D;
$whiteYellow: #FFF8E7;
$gray1: #EBE5FC;
$gray2: #9892A9;

$textDark: #212529;
$textDarkBlue: #070744;

$btnGradientOrange: linear-gradient(to bottom, #ffcb4d 0%, #fc622c 100%);
$btnGradientOrangeHover: linear-gradient(to bottom, darken(#ffcb4d, 10%) 0%, darken(#fc622c, 10%) 100%);

$T_nav: 0.4s;

$im: !important;
