.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.sub-fluid {
  margin: 0;
}

.y-panel-left {
  height: 100vh;
  background: $darkBlue;
  color: $white;

  .y-wrapper {
    padding: 56px;
    position: relative;
    height: -webkit-fill-available;
  }

  .v-panel-body {
    margin-top: 56px;

    h1 {
      font-size: 48px;
      margin-bottom: 26px;
    }

    p {
      font-size: 24px;
      font-family: rubik-regular;
    }
  }

  .back {
    position: absolute;
    left: 0;
    bottom: 0;

    a {
      color: darken($white, 25%);
      display: flex;
      align-items: center;
      margin: 26px 56px;
      font-family: rubik-regular;
      text-decoration: none;

      &:hover {
        color: $white;
      }

      p {
        margin: 4px 12px 0;
      }
    }
  }
}

.y-panel-right {
  .y-wrapper {
    padding: 56px 0;
  }
}

.y-panel-body {}

#login {}

#register {}
