a{
  color: $purple;

  &:focus{
    color: $purple;
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.sub-fluid {
  margin: 0;
}

.y-panel-left {
  height: 100vh;
  background: $darkBlue;
  color: $white;

  .y-wrapper {
    padding: 56px;
    position: relative;
    height: -webkit-fill-available;
  }

  .v-panel-body {
    margin-top: 56px;

    h1 {
      font-size: 48px;
      margin-bottom: 26px;
    }

    p {
      font-size: 24px;
      font-family: rubik-regular;
    }
  }

  .back {
    position: absolute;
    left: 0;
    bottom: 0;

    a {
      color: darken($white, 25%);
      display: flex;
      align-items: center;
      margin: 26px 56px;
      font-family: rubik-regular;
      text-decoration: none;

      &:hover {
        color: $white;
      }

      p {
        margin: 4px 12px 0;
      }
    }
  }
}

.y-panel-right {
  height: 100vh;
  overflow-y: scroll;

  .y-wrapper {
    padding: 96px 0;
  }
}

.line-space {
  text-align: center;
  margin: 26px 0;
  display: flex;
  color: $gray2;
  align-items: center;
  font-family: rubik-regular;
  font-size: 18px;

  span{
    margin: 0 12px;
  }

  hr {
    height: 3px;
    width: 100%;
    background: $gray1;
  }
}

.y-form{
  .form-control-lg{
    font-size: 18px;
    height: 76px;
    border-radius: 20px;
    padding: 0 28px;
    background: $gray1;
    font-family: rubik-regular;

    &:focus{
      background: $white;
      font-family: rubik-medium;
    }

    &::placeholder{
      opacity: 0.4;
    }
  }

}

.y-more-action{
  text-align: center;
  font-size: 18px;
  font-family: rubik-regular;
}

.y-panel-body {}

#login {}

#register {}
